
@{
    ViewData["Title"] = "AreaFuncionario";
}

<h1>AreaFuncionario</h1>

<div class="btn-group" role="group">
    <div class="btn-group" role="group">
        <button id="locatorsDropdown" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Habitações
        </button>
        <div class="dropdown-menu" aria-labelledby="housingsDropdown">
            <a class="dropdown-item" href="@Url.Action("ShowHouses", "Employers", new { id = ViewBag.EmployerId})">Lista de Habitações </a>
            <a class="dropdown-item" href="@Url.Action("CreateHouse", "Employers", new { id = ViewBag.EmployerId})">Adicionar Habitação</a>
        </div>
    </div>
</div>


<div class="btn-group" role="group">
    <div class="btn-group" role="group">
        <button id="locatorsDropdown" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Reservas
        </button>
        <div class="dropdown-menu" aria-labelledby="housingsDropdown">
            <a class="dropdown-item" href="@Url.Action("IndexAll", "Reservations", new { employerId = ViewBag.EmployerId})">Lista de reservas </a>
        </div>
    </div>
</div>
