@model TPpweb.Models.DeliveryDetails

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DeliveryDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OptionalEquipment" class="control-label"></label>
                <input asp-for="OptionalEquipment" class="form-control" />
                <span asp-validation-for="OptionalEquipment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Damages" class="control-label"></label>
                <input asp-for="Damages" class="form-control" />
                <span asp-validation-for="Damages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DamageImages" class="control-label"></label>
                <input asp-for="DamageImages" class="form-control" />
                <span asp-validation-for="DamageImages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observations" class="control-label"></label>
                <input asp-for="Observations" class="form-control" />
                <span asp-validation-for="Observations" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ReservationId" value="@ViewBag.reservId" />
            <input type="hidden" asp-for="FkEmployer" value="@ViewBag.EmployerId" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

